

.productsList{
    width:100%;
    border:2px solid gray;
    font-size:15px;
    color:black;
    font-weight:400;
    margin: 0 auto;
}


strong{
    font-size:18px;
    color:rebeccapurple;
}

.star{
    border:2px solid gold;
    padding:4px;
    width:6%;
    text-align:center;
    display:inline-block;
}